<div class="col-md-12">
	<div ng-if="testCtrl.isInterview">
		<h3>Test</h3>
		<div ng-repeat="(index, Qst) in testCtrl.questionArr">
			<span class="col-md-12" class="qst-txt">
				<strong>Q: </strong> <span> {{Qst.question}} </span>
			</span>
			<form>
				<label class="ans-txt">
					<input type="radio" ng-model="testCtrl.radio[index]" value="{{Qst.options[0]}}">
					{{Qst.options[0]}}
				</label>
				<label class="ans-txt">
					<input type="radio" ng-model="testCtrl.radio[index]" value="{{Qst.options[1]}}">
					{{Qst.options[1]}}
				</label>
				<label class="ans-txt">
					<input type="radio" ng-model="testCtrl.radio[index]" value="{{Qst.options[2]}}">
					{{Qst.options[2]}}
				</label>
				<label class="ans-txt">
					<input type="radio" ng-model="testCtrl.radio[index]" value="{{Qst.options[3]}}">
					{{Qst.options[3]}}
				</label>
			</form>
		</div>
		<button type="button" name="button" class="scap-but" ng-click="testCtrl.submitInterview()">Submit</button>
	</div>
	<div ng-if="testCtrl.isScore">
		<h2>Score</h2>
		Correct: <strong>{{testCtrl.score.correct}}</strong> | Incorrect: <strong>{{testCtrl.score.incorrect}}</strong>
	</div>
</div>
