<div class="row">
	<div class="col-md-offset-2 col-md-6">
		<h3>Invite</h3>
		<br>
		<form class="form-horizontal" ng-submit = "inviteCtrl.inviteUser()">
			<div class="form-group">
				<div class="col-md-10">
					<input type="text" ng-model="inviteCtrl.email" class="form-control" id="email" placeholder="Enter email">
				</div>
			</div>
			<div class="form-group">
				<div class="col-md-12">
					<button type="submit" class="btn btn-info">Invite</button>
					<span ng-bind="inviteCtrl.inviteMessage" ng-if="inviteCtrl.isMessageShow"></span>
				</div>
			</div>
		</form>
	</div>
</div>
